<h1>Create a new Owner</h1>

<form action="/owners" method="POST">
  <label>Owner Name:</label>
  <input type="text" name="owner[name]" required>
  <br>


  <p>Select an excisting pet or Create a new one below:</p>

  <h3>Existing Pets</h3>
  <% @pets.each do |pet| %>
    <input type="checkbox" name="owner[pet_ids][]" id="<%= pet.id %>" value="<%= pet.id %>"><%= pet.name %><br>
  <% end %>
  <br>

  <h3>New Pet</h3>
  <label>Pet Name:</label>
  <br>
  <p>Add or create a new pet:</p>
  <input type="text" name="pet[name]" id="pet_name"/>
  <br><br>
  <input type="submit" value="Create Owner">


</form>
